[packages]
shellingham = { path = '.', editable = true }

[dev-packages]
invoke = '*'
parver = '*'
pytest = '*'
pytest-mock = '*'
setl = '*'
towncrier = '*'
tox = '*'
tox-gh-actions = '*'

[scripts]
release = 'inv release'
